{% extends "base.html" %}

<meta name="description" content="コージーHAIRSHOPのコンセプトをご紹介。癒しと技術を大切にする藤沢市のアットホームな理容室です。">

{% block title %}コージーHAIRSHOPの想い｜藤沢市の理容室{% endblock %}

{% block content %}
<section id="concept">
  <h2>コンセプト</h2>
  <p>
    コージーHAIRSHOPのホームページをご覧いただきありがとうございます。<br>
    私たちは1995年の開店以来、常に新しいヘアやスキンケアなど“心と体を癒す”トータルなヘアデザインを考え運営しております。
  </p>
  <p>
    ヘアとは人の心を良くするもの。<br>
    それをテーマに、これからも本当に良い技術と商品を提案し、<br>
    お客様に喜んでいただけるサロン作りをめざします。
  </p>

  <div class="concept-gallery">
    <img src="/static/images/concept1.jpg" alt="店内写真1">
    <img src="/static/images/concept2.jpg" alt="髪の文字">
    <img src="/static/images/concept3.jpg" alt="シャンプー台">
    <img src="/static/images/concept4.jpg" alt="鏡まわり">
  </div>
</section>
{% endblock %}
