{% extends "base.html" %}

{% block title %}メニュー{% endblock %}

{% block content %}
<section id="menu">
  <h2>メニュー</h2>

  <h3>カット（税別）</h3>
  <ul>
    <li>レギュラー　￥4000（リアシャンプー、プチマッサージ、シェーブ、ブロー込）※フェードカット、スキンフェードは＋￥500</li>
    <li>高校生　￥3500（リアシャンプー、シェーブ、ブロー込）</li>
    <li>中学生　￥3000（リアシャンプー、ソフトシェーブ、ブロー込）</li>
    <li>小学生　￥2500（リアシャンプー、ブロー込）</li>
  </ul>

  <h3>パーマ（カット料金別）税別</h3>
  <ul>
    <li>ソフト　￥4000</li>
    <li>ハード　￥4500</li>
    <li>アイロン　￥4000</li>
  </ul>

  <h3>カラー（カット料金別）税別</h3>
  <ul>
    <li>ハイライト　￥3500</li>
    <li>グレイ　￥3500</li>
    <li>ポイント　￥1500</li>
  </ul>

  <h3>縮毛矯正ストレート（カット料金込）税別</h3>
  <ul>
    <li>スリーク　￥13000</li>
    <li>ムーブ　￥13000</li>
    <li>ポイント　￥8000</li>
  </ul>

  <h3>レディースシェーブ（税別）</h3>
  <ul>
    <li>レディースシェーブ　￥3000（シェーブのみ)パック付き＋￥500
  </ul>

  <h3>クイックメニュー（オプション）税別</h3>
  <ul>
    <li>白髪ぼかし　￥1500</li>
    <li>育毛コース　￥1000</li>
    <li>ヘッドスパ　￥3000～</li>
    <li>頭皮のクレンジング　￥500</li>
    <li>アイスパ　￥500</li>
   <li>プラセンタのお顔パック　￥500</li>
  </ul>
</section>
{% endblock %}
