{% extends "base.html" %}

{% block title %}メニュー{% endblock %}

{% block content %}
<section id="menu">
  <h2>メニュー</h2>

  <h3>カット（税込）</h3>
  <ul>
    <li>大人　￥4500（リアシャンプー、プチマッサージ、シェーブ、ブロー込）※フェード＋￥500　総バリカンー￥500</li>
    <li>カットシャンプー　￥4300</li>
    <li>カットのみ　￥3500</li>
    <li>高校生　￥4000（リアシャンプー、シェーブ、ブロー込）</li>
    <li>中学生　￥3500（リアシャンプー、ソフトシェーブ、ブロー込）</li>
    <li>小学生　￥3000（リアシャンプー、ブロー込）</li>
  </ul>

  <h3>カットパーマ（カット料金込）税込</h3>
  <ul>
    <li>￥8800</li>
  </ul>

  <h3>カットカラー（カット料金込）税込</h3>
  <ul>
    <li>￥9500</li>
  </ul>

  <h3>縮毛矯正 各種（カット料金込）税込</h3>
  <ul>
    <li>￥14000~</li>
  </ul>

  <h3>レディースシェーブ（税込）</h3>
  <ul>
    <li>レディースシェーブ　￥4000（シェーブのみ)パック付き＋￥500
  </ul>

  <h3>クイックメニュー（オプション）税込</h3>
  <ul>
    <li>白髪ぼかし　￥2000</li>
    <li>育毛コース　￥1000</li>
    <li>ヘッドスパ　￥3000</li>
    <li>頭皮のクレンジング　￥1000</li>
    <li>アイスパ　￥800</li>
   <li>プラセンタのお顔パック　￥800</li>
  </ul>
</section>
{% endblock %}
