{% extends "base.html" %}

{% block title %}プライバシーポリシー{% endblock %}

{% block content %}
<section class="privacy-policy">
  <h1>プライバシーポリシー</h1>

  <p>当サイトは、コージーHAIRSHOPが運営しております。当サイトのご利用にあたっては、以下の利用条件及び注意事項に同意の上でご利用ください。</p>

  <h2>【1】著作権について</h2>
  <p>当サイトに掲載された文章や画像に関する著作権は、弊社に帰属するか、弊社がライセンスに基づき使用しているものとします。無断での転載、複製、改変及び再配布を禁止します。</p>

  <h2>【2】商標について</h2>
  <p>当サイト内のすべての商標、またはライセンス及びその他の正当な権限に基づき使用しているものです。これらの無断での使用を禁止します。</p>

  <h2>【3】免責事項</h2>
  <ol>
    <li>当サイトに掲載されている情報、または当サイトを利用または利用不能から生じるいかなる損害についても責任を負いません。</li>
    <li>当サイトは予告なしに、掲載情報を変更すること、あるいは運営の中断、中止させていただくことがあります。あらかじめご了承ください。尚、弊社はそのことによって生じるいかなる損害についても責任を負いません。</li>
  </ol>

  <h2>【4】リンクについて</h2>
  <p>このサイトから、もしくはこのサイトへリンクを設定している第三者のサイト（以下、リンクサイト）の内容は、それぞれ各社の責任で管理されており、リンクサイトの内容について、またそれらをご利用になったことで生じたいかなる損害についても弊社は責任を負いません。</p>
  <p>リンクを希望される場合は、あらかじめ当社までご連絡ください。弊社の判断の承諾なしに無断でのリンクを禁止します。</p>

  <h2>【5】その他</h2>
  <ol>
    <li>当サイト上において、EメールやSNSを含むどのような形であれ、誹謗、中傷、乱暴な言語の使用を禁止します。ユーザは、当サイトに商業的内容を掲示したり、他の商業的オンラインサービスまたは他の組織のメンバーに加わるよう勧誘するために当サイトを利用することを禁止します。</li>
    <li>当サイトを利用されたユーザによって作成された内容が、次の項目に該当する場合は、内容の掲載及び通報を理由に、排除する権利を有します。
      <ul>
        <li>誹謗中傷的、名誉毀損的、猥褻的なもの</li>
        <li>詐欺的なもの</li>
        <li>著作権、商標権及び他の知的所有権の侵害的なもの</li>
        <li>攻撃的または他の理由で弊社によって受け入れられないと、弊社が単独で判断したもの</li>
      </ul>
    </li>
  </ol>
</section>
{% endblock %}
